node_modules/
dist/
public/*.wav
public/*.jpg
public/*.json
output/*.mp4
output/*.json
!output/scripts/
!output/scripts/.gitkeep
!examples/
*.log
.env
